# Tipo de log
LOG_NAME_SECURITY=Security

# Informações do Servidor Zabbix
ZABBIX_SERVER=IP_DO_ZABBIX_SERVER
ZABBIX_SENDER_PATH=C:\Program Files\Zabbix Agent 2\zabbix_sender.exe

# Host no Zabbix
ZABBIX_HOST=NOME_DO_HOST_NO_ZABBIX

# Keys do Zabbix
ZABBIX_KEY_1102=ad.log.clear
ZABBIX_KEY_4624=ad.user.login
ZABBIX_KEY_4625=ad.user.failed.login
ZABBIX_KEY_4648=ad.user.login.attempt
ZABBIX_KEY_4720=ad.user.created
ZABBIX_KEY_4722=ad.user.enabled
ZABBIX_KEY_4723=ad.passwd.reset.user
ZABBIX_KEY_4724=ad.passwd.reset.admin
ZABBIX_KEY_4725=ad.user.disabled
ZABBIX_KEY_4726=ad.user.deleted
ZABBIX_KEY_4739=ad.police.changed
ZABBIX_KEY_4743=ad.comp.deleted

# EventIDs do Windows
EVENTID_1102=1102
EVENTID_4624=4624
EVENTID_4625=4625
EVENTID_4648=4648
EVENTID_4720=4720
EVENTID_4722=4722
EVENTID_4723=4723
EVENTID_4724=4724
EVENTID_4725=4725
EVENTID_4726=4726
EVENTID_4739=4739
EVENTID_4743=4743

# Tabelas do banco de dados
TAB_1102=zbx_win_event_1102
TAB_4624=zbx_win_event_4624
TAB_4625=zbx_win_event_4625
TAB_4648=zbx_win_event_4648
TAB_4720=zbx_win_event_4720
TAB_4722=zbx_win_event_4722
TAB_4723=zbx_win_event_4723
TAB_4724=zbx_win_event_4724
TAB_4725=zbx_win_event_4725
TAB_4726=zbx_win_event_4726
TAB_4739=zbx_win_event_4739
TAB_4743=zbx_win_event_4743